@import "../../../../styles/index.scss";
.filters {
    @include font(14px,300,22px,rgba(119, 119, 119, 1),normal, $global-font-family);
    height: 50px ;
    width:100% ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top: 1px solid  rgba(77, 77, 77, 0.2); 

    .selectedItems {
        width: 100px;
        position: absolute;
        left: 10px;
    }
    .filter{
        display: flex;

        > div {
            margin: 0 10px;
            cursor: pointer
        }
    }
}